@import url(../../node_modules/@safe-global/safe-react-components/dist/fonts.css);

html,
body {
  padding: 0;
  margin: 0;
  font-family: DM Sans, sans-serif;
  background-color: var(--color-background-paper);
}
